APP_NAME=API Pipeline Turismo Academico
APP_ENV=dev
APP_HOST=127.0.0.1
APP_PORT=8000

# Ruta base de datos del proyecto original (un nivel arriba de Api-pipeline)
DATA_BASE_DIR=..
RAW_DIR=data/raw
PROCESSED_DIR=data/processed
RESULTS_DIR=data/results
REPORTS_DIR=outputs/reportes

# Mapeo de columnas
COLUMN_MAPPING_PATH=config/column_mappings.json

# Conexión PostgreSQL local
# Formato SQLAlchemy: postgresql+psycopg://usuario:password@host:puerto/base_datos
DB_URL=postgresql+psycopg://postgres:admin$1234@localhost:5432/turismo_academico_medellin
DB_SCHEMA=public
